<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar('User')"></nav>
    <div class = "container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Update Password</h2>
                    <br>
                    <form th:action="@{/user/updatepassword/} + ${username}" method="POST">
                        <label>Password Lama</label>
                        <input type="password" name="oldPassword" class="form-control">

                        <label>Password Baru</label>
                        <input type="password" name="newPassword" class="form-control">

                        <label>Konfirmasi Password Baru</label>
                        <input type="password" name="confirmedNewPassword" class="form-control">

                        <br>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a class="btn btn-link" href="/">Home</a>
                        <br>
                        <br>
                        <h5 th:text=${validasi} class="text-danger"></h5>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>