<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>BelajarBelajar</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar('Course')"></nav>
        <div class="container">
            <div class="card m-4 p-4">
                <div class="card-body">
                    <div class="justify-content-center">
                        <h2>Detail Course</h2>
                        <br>
                        <p th:text="'Code Course: ' + ${course.code}"></p>
                        <p th:text="'Nama Course: ' + ${course.nameCourse}"></p>
                        <p th:text="'Description: ' + ${course.description}"></p>
                        <p th:text="'Jumlah SKS: ' + ${course.jumlahSks}"></p>
                        <p th:text="'Tanggal Dimulai: ' + ${#temporals.format(course.tanggalDimulai, 'dd MMMM yyyy HH:mm')}"></p>
                        <p th:text="'Tanggal Berakhir: ' + ${#temporals.format(course.tanggalBerakhir, 'dd MMMM yyyy HH:mm')}"></p>
                        
                        <br>
                        <h2>Daftar Pengajar</h2>
                        <div>
                            <a class="btn btn-primary" th:href="@{/pengajar/add/} + ${course.code}">Tambah Pengajar</a>
                        </div>
                        <br>
                        
                        <div th:if="*{listPengajar.size() != 0}">
                            <form th:action="@{/pengajar/delete}" th:object="${course}" method="POST">
                                <input type="hidden" th:field="*{code}">
                                <input type="hidden" th:field="*{tanggalDimulai}">
                                <input type="hidden" th:field="*{tanggalBerakhir}">
                                <table class = "table">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>No Pengajar</th>
                                            <th>Nama</th>
                                            <th>Jenis Pengajar</th>
                                            <th>Ubah</th>
                                            <th>Hapus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each = "pengajar, iterationStatus : ${listPengajar}"
                                            th:style = "${iterationStatus.even} ? 'font-weight:bold;'">
                                            <td th:text = "${iterationStatus.count}"></td>
                                            <td th:text = "${pengajar.noPengajar}"></td>
                                            <td th:text = "${pengajar.namaPengajar}"></td>
                                            <td th:if = "${pengajar.isPengajarUniversitas}">Non-Dosen Universitas</td>
                                            <td th:unless = "${pengajar.isPengajarUniversitas}">Dosen Universitas</td>
                
                                            <td>
                                                <a class = "btn btn-sm btn-primary" th:href = "@{/pengajar/update/} + ${pengajar.noPengajar}">Update</a>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox"
                                                        th:field="*{listPengajar}"
                                                        th:value="${pengajar.noPengajar}"
                                                        id="flexCheckDefault">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="submit" value="Delete Pengajar yang dipilih" class="btn btn-danger">
                            </form>        
                        </div>
                        <div th:unless="*{listPengajar.size() != 0}">
                            <h2 th:text="'Tidak ada Pengajar'"></h2>
                        </div>
                        <br>
                        <div th:if="*{listPenyelenggara.size() != 0}">
                            <table class = "table">
                                <thead>
                                    <tr>
                                        <th colspan="5"> 
                                           <h3>Daftar Penyelenggara</h3> 
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>No</th>
                                        <th>No Penyelenggara</th>
                                        <th>Nama Penyelenggara</th>
                                        <th>Jenis Lembaga</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each = "penyelenggara, iterationStatus : ${listPenyelenggara}"
                                        th:style = "${iterationStatus.even} ? 'font-weight:bold;'">
                                        <td th:text = "${iterationStatus.count}"></td>
                                        <td th:text = "${penyelenggara.noPenyelenggara}"></td>
                                        <td th:text = "${penyelenggara.namaPenyelenggara}"></td>
                                        <td th:if = "${penyelenggara.jenisLembaga == 0}">Non-Pendidikan</td>
                                        <td th:if = "${penyelenggara.jenisLembaga == 1}">Pendidikan</td>
                                    </tr>
                                </tbody>
                            </table>     
                        </div>
                        <div th:unless="*{listPenyelenggara.size() != 0}">
                            <h2 th:text="'Tidak ada Penyelenggara'"></h2>
                        </div>
                        <br>
                        <a class="btn btn-primary" href="/course/viewall">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>