<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>BelajarBelajar</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar('Course')"></nav>
        <div class="container">
            <div class="card m-4 p-4">
                <div class="card-body">
                    <div class="justify-content-center">
                        <h2>Daftar Course</h2>
                        <br>
                        <div>
                            <a th:href="@{/course/add}" class="mx-2 btn btn-primary">Tambah course</a>
                            <a th:href="@{/}" class="mx-2 btn btn-primary">Beranda</a>
                        </div>
                        <br>
                        <div th:if="*{listCourse.size() != 0}">
                            <table class = "table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Code</th>
                                        <th>Nama</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each = "course, iterationStatus : ${listCourse}"
                                        th:style = "${iterationStatus.even} ? 'font-weight:bold;'">
                                        <td th:text = "${iterationStatus.count}"></td>
                                        <td th:text = "${course.code}"></td>
                                        <td th:text = "${course.nameCourse}"></td>
                                        <td>
                                            <a class="btn btn-primary" th:href="@{/course/view(code=${course.code})}">Detail Course</a>
                                            <a class="btn btn-outline-primary" th:href="@{/course/view-query(code=${course.code})}">Detail Course By Query</a>
                                            <a class="btn btn-sm btn-warning" th:href = "@{/course/update/} + ${course.code}">Update Course</a>
                                            <a class="btn btn-danger" th:href="@{/course/delete/} + ${course.code}">Delete Course</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>