<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Apoteker</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background: #eff8fd">
    <nav th:replace="fragments/fragment :: navbar('User')"></nav>
    <div class = "container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Tambah Apoteker Baru</h2>
                    <br>
                    <form th:action="@{/apoteker/add}" th:object="${apoteker}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4 font-weight-bold">Username:</label>
                            <input type="text" class="col-sm-7 form-control input-sm" style="background:#eff8fd;border-radius: 20px;" name="username">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 font-weight-bold">Nama:</label>
                            <input type="text" class="col-sm-7 form-control input-sm" style="background:#eff8fd;border-radius: 20px;" name="nama">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 font-weight-bold">Email:</label>
                            <input type="text" class="col-sm-7 form-control input-sm" style="background:#eff8fd;border-radius: 20px;" name="email">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 font-weight-bold">Password:</label>
                            <input type="password" class="col-sm-7 form-control input-sm" style="background:#eff8fd;border-radius: 20px;" name="password">
                        </div>
                        <br><br>
                        <div class="row form-group justify-content-center mt-6">
                            <button type="submit" class="btn" style="background:#2fabe8;color:white;border-radius: 20px;padding-inline:10%;">Submit</button>
                            <a class="btn ml-3" style="background:#5177e8;color:white;border-radius: 20px;padding-inline:10%;" href="/apoteker/viewall">Kembali</a>
                        </div>
                        <br>
                        <h5 th:text=${validasi} class="text-danger"></h5>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<footer th:replace="fragments/fragment :: footer"></footer>

</html>