<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Rumah Sehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Appointment')"></nav>
<div class="container">
    <div class="justify-content-center">
        <h2>List Appointment</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th th:if="${#authorization.expression('hasAnyAuthority(''Admin'')')}">Nama Dokter</th>
                <th>Nama Pasien</th>
                <th>Waktu Awal</th>
                <th>Status</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment, iterationStatus : ${listAppointment}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:if="${#authorization.expression('hasAnyAuthority(''Admin'')')}" th:text="${appointment.dokter.getNama()}"></td>
                <td th:text="${appointment.pasien.getNama()}"></td>
                <td th:text="${#temporals.format(appointment.waktuAwal, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:if="${appointment.isDone == false}" th:text="'Belum Selesai'"></td>
                <td th:if="${appointment.isDone == true}" th:text="'Selesai'"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/appointment/detail/} + ${appointment.kode}">Detail</a>
                </td>
                <hr>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>

</body>
<footer th:replace="fragments/fragment :: footer"></footer>

</html>