<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>i-RIS</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar('Mahasiswa')"></nav>
        <div class="container">
            <br>
            <h2 class="text-center font-weight-bold mt-5">Tambah Mahasiswa</h2>
            <br>
            <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="max-width: 40rem;">
                <div class="card-body">
                    <div class="justify-content-center align-self-center">
                        <form th:action="@{/mahasiswa/create-mahasiswa}" th:object="${mahasiswa}" method="POST">
                            <a class="font-weight-bold text-dark">Nama Mahasiswa </a>
                            <br>
                            <div class = "form-row">
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Nama Depan" th:field="*{namaDepan}"/>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Nama Belakang" th:field="*{namaBelakang}"/>
                                </div>
                            </div>
                            <br>
                            <div class = "form-row">
                                <div class="col">
                                    <a class="font-weight-bold text-dark">NPM </a>
                                    <input class="form-control" type="text" placeholder="NPM" th:field="*{npm}"/>
                                </div>
                                <div class="col">
                                    <a class="font-weight-bold text-dark">Status </a>
                                    <select name="statusMahasiswa" class="form-control">
                                        <option value="0">Non-Aktif</option>
                                        <option value="1">Aktif</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class = "form-row">
                                <div class="col">
                                    <a class="font-weight-bold text-dark">Email</a> <br>
                                    <input class="form-control" type="text" placeholder="Email" th:field="*{email}"/>
                                </div>
                                <div class="col"></div>
                            </div>
                            <br><br>

                            <div class="text-center">
                                <a class="btn btn-outline-dark text-center font-weight-bold" href="/mahasiswa">Kembali</a>
                                <button class="btn btn-info text-center font-weight-bold" type="submit" name="save">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>