<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>i-RIS</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar('Mata Kuliah')"></nav>
        <br>
        <div class="container">
            <div class="justify-content-center">
                <h2 class="text-center font-weight-bold mt-5">List Mata Kuliah</h2>
                <br>
                <div class="text-center">
                    <a th:href="@{/mata-kuliah/create-matakuliah}" class="mx-2 btn btn-info font-weight-bold text-center">+Tambah Mata Kuliah</a>
                </div>
                <br>
                <div th:if="*{listMataKuliah.size() != 0}">
                    <table class = "table table-striped mb-5">
                        <thead class="bg-warning">
                            <tr class="text-center">
                                <th>No</th>
                                <th>Code</th>
                                <th>Nama Mata Kuliah</th>
                                <th>Sem.</th>
                                <th>SKS</th>
                                <th>Hari</th>
                                <th>Waktu</th>
                                <th>Kapasitas</th>
                                <th>Total Mahasiswa</th>
                                <th>Pengajar</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each = "mataKuliah, iterationStatus : ${listMataKuliah}"
                                class="text-center">
                                <td th:text = "${iterationStatus.count}"></td>
                                <td th:text = "${mataKuliah.code}"></td>
                                <td th:text = "${mataKuliah.namaMatkul}"></td>
                                <td th:if = "${mataKuliah.semester == 'Ganjil'}">Ganjil</td>
                                <td th:unless = "${mataKuliah.semester == 'Ganjil'}">Genap</td>
                                <td th:text = "${mataKuliah.sks} + ' SKS'"></td>
                                <td th:text = "${mataKuliah.hari}"></td>
                                <td th:text = "${mataKuliah.waktuMulai} + ' - ' + ${mataKuliah.waktuSelesai}"></td>
                                <td th:text = "${mataKuliah.kapasitasKelas}"></td>
                                <td th:text = "${mataKuliah.totalMahasiswa}"></td>
                                <td>
                                    <div th:each="dosenMatkul, iterationStatus2 : ${mataKuliah.dosenMataKuliah}">
                                        <span th:if = "${mataKuliah.dosenMataKuliah.size > 1}">
                                            <span th:if = "${iterationStatus2.count == mataKuliah.dosenMataKuliah.size}">
                                                <span th:text = "${dosenMatkul.dosen.namaDepan} + ' ' + ${dosenMatkul.dosen.namaBelakang}"></span>
                                            </span>
                                            <span th:unless = "${iterationStatus2.count == mataKuliah.dosenMataKuliah.size}">
                                                <span th:text = "${dosenMatkul.dosen.namaDepan} + ' ' + ${dosenMatkul.dosen.namaBelakang} + ',' "></span>
                                            </span>
                                        </span>
                                        <span th:unless = "${mataKuliah.dosenMataKuliah.size > 1}">
                                            <span th:text = "${dosenMatkul.dosen.namaDepan} + ' ' + ${dosenMatkul.dosen.namaBelakang}"></span>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-info font-weight-bold" th:href="@{/mata-kuliah/} + ${mataKuliah.idMataKuliah}">Detail</a>
                                    <a class="btn btn-danger text-white font-weight-bold" th:href = "@{/mata-kuliah/} + ${mataKuliah.idMataKuliah} + @{/delete}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>     
                </div>
            </div>
        </div>
    </body>
</html>