<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>i-RIS</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar('Mahasiswa')"></nav>
        <div class="container">
            <br>
            <h2 class="text-center font-weight-bold mt-5">Update IRS</h2>
            <br>
            <div class="justify-content-center align-self-center">
                <form th:action="@{/mahasiswa/} + ${npm} + '/' + ${idIRS}  + @{/update}" th:object="${irs}" method="POST">
                    <br>
                    <div class = "form-row">
                        <div class="col">
                            <a class="font-weight-bold text-dark">ID</a>
                            <input class="form-control" type="text" th:field="*{idIRS}" readonly/>
                        </div>
                        <div class="col">
                            <a class="font-weight-bold text-dark">Semester </a>
                            <input class="form-control" type="text" th:field="*{semester}" readonly/>
                        </div>
                        <div class="col">
                            <a class="font-weight-bold text-dark">Status</a>
                            <select name="status" class="form-control">
                                <option value="Belum Disetujui">Belum Disetujui</option>
                                <option value="Disetujui">Disetujui</option>
                            </select>
                        </div>
                        <input type="hidden" th:field="*{npmMahasiswa}" readonly/>
                    </div>
                    <br><br>

                    <h4 class="font-weight-bold">List Mata Kuliah</h4>
                    <div th:if="*{listMataKuliah.size() != 0}">
                        <table class = "table table-striped mb-5">
                            <thead class="bg-warning">
                                <tr class="text-center">
                                    <th>Pilih</th>
                                    <th>Code</th>
                                    <th>Nama Mata Kuliah</th>
                                    <th>Sem.</th>
                                    <th>SKS</th>
                                    <th>Hari</th>
                                    <th>Waktu</th>
                                    <th>Kapasitas</th>
                                    <th>Total Mahasiswa</th>
                                    <th>Pengajar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each = "mataKuliah, iterationStatus : ${listMataKuliah}"
                                    class="text-center">
                                    <td class="text-center">
                                        <input class="form-check-input" type="checkbox"
                                                th:field="*{listMataKuliah}"
                                                th:value="${mataKuliah.idMataKuliah}"
                                                id="flexCheckDefault">
                                    </td>
                                    <td th:text = "${mataKuliah.code}"></td>
                                    <td th:text = "${mataKuliah.namaMatkul}"></td>
                                    <td th:if = "${mataKuliah.semester == 'Ganjil'}">Ganjil</td>
                                    <td th:unless = "${mataKuliah.semester == 'Ganjil'}">Genap</td>
                                    <td th:text = "${mataKuliah.sks} + ' SKS'"></td>
                                    <td th:text = "${mataKuliah.hari}"></td>
                                    <td th:text = "${mataKuliah.waktuMulai} + ' - ' + ${mataKuliah.waktuSelesai}"></td>
                                    <td th:text = "${mataKuliah.kapasitasKelas}"></td>
                                    <td th:text = "${mataKuliah.totalMahasiswa}"></td>
                                    <td>
                                        <div th:each="dosenMatkul, iterationStatus2 : ${mataKuliah.dosenMataKuliah}">
                                            <span th:if = "${mataKuliah.dosenMataKuliah.size > 1}">
                                                <span th:if = "${iterationStatus2.count == mataKuliah.dosenMataKuliah.size}">
                                                    <span th:text = "${dosenMatkul.dosen.namaDepan} + ' ' + ${dosenMatkul.dosen.namaBelakang}"></span>
                                                </span>
                                                <span th:unless = "${iterationStatus2.count == mataKuliah.dosenMataKuliah.size}">
                                                    <span th:text = "${dosenMatkul.dosen.namaDepan} + ' ' + ${dosenMatkul.dosen.namaBelakang} + ',' "></span>
                                                </span>
                                            </span>
                                            <span th:unless = "${mataKuliah.dosenMataKuliah.size > 1}">
                                                <span th:text = "${dosenMatkul.dosen.namaDepan} + ' ' + ${dosenMatkul.dosen.namaBelakang}"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>     
                    </div>

                    <div class="text-center mb-5">
                        <a class="btn btn-outline-dark text-center font-weight-bold" th:href="@{/mahasiswa/} + ${npm}">Kembali</a>
                        <button class="btn btn-info text-center font-weight-bold" type="submit" name="save">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>