<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah User</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar('User')"></nav>
    <div class = "container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Tambah User Baru</h2>
                    <br>
                    <form th:action="@{/dokter/add}" th:object="${dokter}" method="POST">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control"/>

                        <label>Nama</label>
                        <input type="text" name="nama" class="form-control"/>

                        <label>E-mail</label>
                        <input type="text" name="email" class="form-control"/>

                        <label>Password</label>
                        <input type="password" name="password" class="form-control">

                        <label>Tarif</label>
                        <input type="number" name="tarif" class="form-control">

                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-link" href="/">Home</a>
                        <br>
                        <br>
                        <h5 th:text=${validasi} class="text-danger"></h5>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>