<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color:#eff8fd">
<nav th:replace="fragments/fragment :: navbar ('Home')"></nav>
<div>
    <br>
    <br>
    <br>
    <section class="wrapper">
        <div class="container">
            <div class="grid-cols-2">
                <div class="grid-item-1">
                    <h1 class="main-heading">
                        Welcome to <span>Rumah Sehat.</span>
                        <br />
                        Menjadi sehat bersama kami.
                    </h1>
                    <p class="info-text">
                        Make appointment, get prescription, and buy medicine easier.
                    </p>
                    <br>
                    <div class="button">
                        <a class="mx-2 btn" th:href="@{/dokter/viewall}" th:if="${#authorization.expression('hasAnyAuthority(''Admin'')')}" style="color: white;background:#62c1f0; height: 50px; border-radius: 10px;">Daftar Dokter</a>
                        <a class="mx-2 btn" th:href="@{/apoteker/viewall}" th:if="${#authorization.expression('hasAnyAuthority(''Admin'')')}" style="color: white;background:#62c1f0; height: 50px; border-radius: 10px;">Daftar Apoteker</a>
                        <a class="mx-2 btn" th:href="@{/pasien/viewall}" th:if="${#authorization.expression('hasAnyAuthority(''Admin'')')}" style="color: white;background:#62c1f0; height: 50px; border-radius: 10px;">Daftar Pasien</a>
                        <a class="mx-2 btn" th:href="@{/obat}" th:if="${#authorization.expression('hasAnyAuthority(''Apoteker'',''Admin'')')}" style="color: white;background:#62c1f0; height: 50px; border-radius: 10px;">Daftar Obat</a>
                        <a class="mx-2 btn" th:href="@{/resep}" th:if="${#authorization.expression('hasAnyAuthority(''Apoteker'',''Admin'')')}" style="color: white;background:#62c1f0; height: 50px; border-radius: 10px;">Daftar Resep</a>
                        <a class="mx-2 btn" th:href="@{/appointment}" th:if="${#authorization.expression('hasAnyAuthority(''Dokter'',''Admin'')')}" style="color: white;background:#62c1f0; height: 50px; border-radius: 10px;">Jadwal Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
</body>
</html>
